<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>

<body class="body-register">
    <a id="back" href="/"><i class="fa-solid fa-house"></i>Volver al inicio</a>    
    <main class="main-register">
        <form action="/registro" method="post" class="form-register-user">
            <div>
                <div class="container-input">
                    <label for="user" class="etiquetas-register">Usuario</label>
                    <input type="text" class="inputs-register" id="user" name="userName" 
                    value="<%= locals.oldData ? oldData.userName : null %>">
                    <% if (locals.err && err.userName) { %>
                        <h5 class="msg-error-register"><%= err.userName.msg %></h5>
                    <% }else if(locals.msgUserName){ %>
                        <h5 class="msg-error-register"><%= msgUserName %></h5>
                    <% } %> 
                </div>
                <div class="container-input">
                    <label for="nombre" class="etiquetas-register">Nombre</label>
                    <input type="text" class="inputs-register" id="nombre" name="name"
                    value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.err && err.name) { %>
                        <h5 class="msg-error-register"><%= err.name.msg %></h5>
                       <% } %>
                </div>
                <div class="container-input">
                    <label for="apellido" class="etiquetas-register">Apellido</label>
                    <input type="text" class="inputs-register" id="apellido" name="lastName"
                    value="<%= locals.oldData ? oldData.lastName : null %>">
                    <% if (locals.err && err.lastName) { %>
                        <h5 class="msg-error-register"><%= err.lastName.msg %></h5>
                       <% } %>
                </div>                
                <div class="container-input">
                    <label for="email" class="etiquetas-register">Correo electrónico</label>
                    <input type="text" class="inputs-register" id="email" name="email"
                    value="<%= locals.oldData ? oldData.email : null %>">
                    <% if (locals.err && err.email) { %>
                        <h5 class="msg-error-register"><%= err.email.msg %></h5>
                        <% }else if(locals.msgEMail){ %>
                            <h5 class="msg-error-register"><%= msgEMail %></h5>
                        <% } %> 
                </div>
                <div class="container-input">
                    <label for="pass" class="etiquetas-register">Contraseña</label>
                    <input type="password" class="inputs-register" id="pass" name="pass">
                    <% if (locals.err && err.pass) { %>
                        <h5 class="msg-error-register"><%= err.pass.msg %></h5>
                       <% } %>
                </div>
                <div class="container-input">
                    <label for="pass2" class="etiquetas-register">Confirmar contraseña</label>
                    <input type="password" class="inputs-register" id="pass2" name="repass">
                    <% if (locals.err && err.repass) { %>
                        <h5 class="msg-error-register"><%= err.repass.msg %></h5>
                       <% } %>
                </div>
                <div class="container-terms">
                    <label class="etiqueta-term">¿Acepta los términos y condiciones?</label>
                    <div class="container-radio-buttons">
                        <label for="select" class="etiquetas-register">Si</label>
                        <input type="radio" name="select" id="accepting" required>
                        <label for="select" class="etiquetas-register">No</label>
                        <input type="radio" name="select" id="rejecting" required> 
                    </div>                   
                </div>
            </div>
            <div class="container-buttons-register">
                <input type="submit" class="boton-form-register" value="Registrarse">
                <input type="reset" class="boton-form-register" value="Borrar los campos">
            </div> 
            <a id="hiperv-login" href="/login">¿Ya tienes cuenta?</a>
        </form>
    </main>
</body>

</html>